.container{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

form{
    max-width: 500px;
    margin: 20px;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
}

mat-form-field{
    width: 100%;
}

.form-field{
    display:flex;
    flex-direction: column;
    margin-bottom: 20px;
}



.ng-dirty.ng-invalid, .ng-touched.ng-invalid{
    border-color: red;
    border-width: 1px;


}

.error{
    font-size: small;
    color: red;
}

.preview, .main{
    display: inline-block;
    vertical-align: top;
}

.preview {
    width: 300px;
    margin: 20px;
}

.main {
    width: calc(100% - 340px);
}

.container {
    display: flex;
    align-items: flex-start;
}
.button-container.left, .button-container.right {
    display: inline-block;
    width:50%
   



}

.button-container.right{
    text-align: right;
}

